{% extends 'layout.html' %}

{% load static %}

{% block content %}
    <div class="card m-4" >
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h1>About developers</h1>
                    <hr>
                    <h3>Selin Aybüke Erdoğan</h3>
                    <p>My name is Selin Aybüke Erdoğan. I was born in 1999 in Tokat. I attended my primary school and secondary school in Istanbul and graduated from Adana Gundogdu Anatolian Private High School in 2017. I started the department of Computer Engineering at Doğuş University in 2017 and I am still continuing my studies.</p>
                    <br>
                    <hr>
                    <br>
                    <h3>Ecem Üner</h3>
                    <p>My name is Ecem Üner. I was born in Niğde in 1999 and completed my primary and secondary education in Nevşehir. I attended high school in Nevşehir Central Anatolian High School. I am continuing my undergraduate education at Doğuş University Computer Engineering Department.</p>
                    <br>
                    <hr>
                    <br>
                    <h3>Tayyip Özan</h3>
                    <p>My name is Tayyip Özan. I was born in İstanbul in 1998 and completed my primary and secondary education in İstanbul. He attended high school in I studied high school at Maltepe Science High School. I am continuing my undergraduate education at Doğuş University Computer Engineering Department. </p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}